<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/index.css" type="text/css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kalam&family=Montserrat:wght@200&display=swap" rel="stylesheet">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css%22%3E" >

    <script src="https://code.jquery.com/jquery-3.5.1.js%22%3E"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script>
        $(document).ready(function(){
         $('#icon').click(function(){
             $('ul').toggleClass('show');
         });
        });
    </script>
    <title>CalmPlan</title>

</head>


<body>
    <script src="https://unpkg.com/aos@next/dist/aos.js" ></script> <!----->
    <script>
      AOS.init({
          offset: 200,
          duration: 1000
      });
    </script>

<header>
    <p class="title" data-aos= "fade-up" >CALMPLAN</p>
    <div class="container" data-aos= "fade-up">
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/html/plan.html">PLAN</a></li>
                <li><a href="#">EXERSICE</a></li>
                <li><a href="#">SCHOOL</a></li>
                <li><a href="#">ABOUT US</a></li>
            </ul>
            
  <label id="icon">
      <i class="fas fa-bars"></i>
  </label>
       </nav>
  </div>
</header>

<div class="wlc" data-speed="0.3">
<span class="text1">Welcome</span>
<span class="text2"> <%= name %></span>
</div>

<form class="button" action="/logout?_method=DELETE" method="POST">
    <button data-aos= "fade-up"  type="submit"> Log Out</button>
</form>

<div id="img_plan">

    <a href="/html/plan.html" id="text_1" data-aos= "fade-up"> Plan your day today</a>
        <img src="/img/bild4.jpg">
    
</div>

<div id="img_exersice" >
   
    <a href="/html/exersice.html" id="text_2" data-aos= "fade-up"> Plan for your health</a>
    <img src="/img/bild5.jpg">

</div>

<div id="img_school" >
      
    <a href="/html/school.html" id="text_3" data-aos= "fade-up"> Plan for your study</a>
    <img src="/img/bild6.jpg">

</div>




<div id="tema">
    <div  class="co"  data-aos="fade-up" >
        <div class="ca">
            <div class="im">
                <img src="/img/bild1.jpg">
            </div>
            <div class="con">
                <h2>Melissa Jackson, 20 År</h2>
                <p>Melissa studera på Chalmers universitet inom civilingenjör. Hon har småsyskon som är påväg in i tonåren. Hon gillar att träna nästan varje dag och tycker att hälsan är viktigt. Hennes sysselsättningar är stora, med tanke på utbildningen och jobbet. Hon använder Calm Plan för att underlätta hennes studier. Med mycket arbete kan hemsidan stödja en lättare struktur.</p>
            </div>
        </div>
        <div class="ca">
            <div class="im">
                <img src="/img/bild2.jpg">
            </div>
            <div class="con">
                <h2>Jacob Will, 25 år</h2>
                <p>Jacob älskar resa runt i världen och fotografera. Hans jobb går ut på att sälja sina foton och hjälper andra att ta de perfektaste bilderna. Han älskar hålla på med photoshop och mycket med redigeringar. Förutom hans arbete så tränar har mycket på styrka. Hans mål är att bli starkare och flexibel. Calm Plan hjälper honom att planera sina mål lättare, speciellt med träningen.           </p>
            </div>
        </div>
        <div class="ca">
            <div class="im">
                <img src="/img/bild3.jpg">
            </div>
            <div class="con">
                <h2>Jessica Jones, 22 år</h2>
                <p>Jessica studerar i högskola som ligger långt från sin familj.
                    Hennes dröm är att bli en läkare. Hennes sysselsättningar ingår mycket med plugg, vilket kan vara stressigt och hon har inte tid med något annat heller. Hon jobbar i ett Café tillsammans med sina vänner för sitt studentlägenhet.
                    Hon använder vår hemsida för att lättare planera sina studier. Detta hjälper henne att få tid med annat.
                </p>
            </div>
        </div>
    </div>
</div>


</body>
</html>
