<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/index.css" type="text/css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kalam&family=Montserrat:wght@200&display=swap" rel="stylesheet">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css%22%3E" >

    <script src="https://code.jquery.com/jquery-3.5.1.js%22%3E"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script>
        $(document).ready(function(){
         $('#icon').click(function(){
             $('ul').toggleClass('show');
         });
        });
    </script>
    <title>CalmPlan</title>

</head>


<body>
    <script src="https://unpkg.com/aos@next/dist/aos.js" ></script> <!----->
    <script>
      AOS.init({
          offset: 200,
          duration: 1000
      });
    </script>

<header>
    <p class="title" data-aos= "fade-up" >CALMPLAN</p>
    <div class="container" data-aos= "fade-up">
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/html/plan.html">PLAN</a></li>
                <li><a href="#">EXERSICE</a></li>
                <li><a href="#">SCHOOL</a></li>
                <li><a href="#">ABOUT US</a></li>
            </ul>
            
  <label id="icon">
      <i class="fas fa-bars"></i>
  </label>
       </nav>
  </div>
</header>

<div class="wlc" data-speed="0.3">
<span class="text1">Welcome</span>
<span class="text2"> <%= name %></span>
</div>

<form class="button" action="/logout?_method=DELETE" method="POST">
    <button data-aos= "fade-up"  type="submit"> Log Out</button>
</form>

</body>
</html>
