
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    line-height: 1.5;
    font-weight: 400;
    width: 100%;
    height:100vh;
    color: black;
    background: linear-gradient(-45deg, rgba(79, 154, 149), rgba(127, 194, 189), rgba(221, 245, 244), rgba(252, 255, 255));
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background-color: transparent;
}

.title{
    position: absolute;
    font-size: 120px;
    font-family: 'Kalam', cursive;
}