
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    line-height: 1.5;
    font-weight: 400;
    width: 100%;
    height:100vh;
    color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(-45deg, rgba(79, 154, 149), rgba(127, 194, 189), rgba(221, 245, 244), rgba(252, 255, 255));
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background-color: transparent;
}

.title{
    position: absolute;
    left: 5%;
    font-size: 150px;
    font-family: 'Kalam', cursive;
}

.container{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; 
}

header::after{
    content: '';
    display: table;
    clear: both;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 55px;
    position: relative;
}

nav a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

nav a:hover{
    color: black;
}

nav a::before{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 30%;
    width: 0%;
    transition: all ease-in-out 350ms;
}

nav a:hover::before{
    width: 100%;
}

nav #icon{
    color: black;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.wlc span{
    top: 200%;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.wlc{
    position: absolute;
    top: 20%;
    right: 20%;
}

.text1{
    color: black;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 20px;
    background: transparent;
    position: relative;
    animation:text 3s 1;
    font-family: 'Kalam', cursive;
}

.text2{
    font-size: 25px;
    color: black;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

@keyframes text{
    0%{
        color: transparent;
        margin-bottom: 40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: 40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: 40px;
    }
}

.logout{
    background-color: none;
    text-decoration: none;
}

button {
    background-color: #DDF5F4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: black;
    padding: 14px 30px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 4%;
  }
  
  button:hover{
    color: #4F9A95;
  }
