<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/about.css" type="text/css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kalam&family=Montserrat:wght@200&display=swap" rel="stylesheet">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css%22%3E" >

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous">
    


    <script src="https://code.jquery.com/jquery-3.5.1.js%22%3E"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script>
        $(document).ready(function(){
         $('#icon').click(function(){
             $('ul').toggleClass('show');
         });
        });
    </script>
    <title>CalmPlan</title>

</head>
<body>
    <script src="https://unpkg.com/aos@next/dist/aos.js" ></script> <!----->
    <script>
      AOS.init({
          offset: 200,
          duration: 1000
      });
    </script>

<header>
    <p class="title" data-aos= "fade-up" >CALMPLAN</p>
    <div class="container" data-aos= "fade-up">
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/html/plan.html">PLAN</a></li>
                <li><a href="exercise.html">EXERSICE</a></li>
                <li><a href="school.html">SCHOOL</a></li>
                <li><a href="about.html">ABOUT US</a></li>
            </ul>
            
  <label id="icon">
      <i class="fas fa-bars"></i>
  </label>
       </nav>
  </div>
</header>

<div class="wlc" data-speed="0.3">
<span class="text1">Information</span>
</div>

<form class="button" action="/logout?_method=DELETE" method="POST">
    <button data-aos= "fade-up"  type="submit"> Log Out</button>
</form>


<div id="profile"  data-aos= "fade-up">
  <p class ="profile_account">Profile</p>
  <div id="date"> Date <input v-model="name6"></div>
  <div  id="email"> Email <input v-model="name7"></div>
  <div  id="gender"> Gender <input v-model="name8" ></div>
  <div  id="age"> Age <input v-model="name9"></div>
  <div  id="number"> Phonenumber <input v-model="name10" type="phonenumber"></div>
  <div  id="personal"> personal characteristics <input v-model="name11" type="phonenumber"></div>
  <div  id="q1"> Things that make you foucs: <input v-model="name12"></div>
  <div  id="q2"> Things that make you motivate: <input v-model="name13" t></div>
  <div  id="q3"> Inferior properties <input v-model="name14" ></div>
  <div  id="q4"> Best properties <input v-model="name15" ></div>
  <div  id="q5"> Things you want to bet better at <input v-model="name16"></div>
</div>

<div id="tema">
    <div  class="co"  >
        <div class="ca">
            <div class="im">
                <h1 class="q">Why do we need to plan?</h1>
            </div>
            <div class="con">
                <p>We need a plan, that goes without question.  No planning means you’re getting by on luck and that’s a bad idea for many reasons.  The most obvious of which is that your project success will be both rare and nearly impossible to repeat.  But, if we plan well and succeed, we can follow that original plan and replicate it on future projects to realize even greater successes.</p>
            </div>
        </div>
        <div class="ca">
            <div class="im">
                <h1 class="q">Why do we need to train?</h1>
            </div>
            <div class="con">
                <p>Training gives everyone a great understanding of their responsibilities and the knowledge and skills they need to do that job. This will enhance their confidence which can also improve their overall performance.</p>
            </div>
        </div>
        <div class="ca">
            <div class="im">
                <h1 class="q">Why planning Our lives is important?</h1>
            </div>
            <div class="con">
                <p>Having a plan will make you feel more powerful. It not only gives you permission to live your life according to how you want, but it also gives you the tools to do it. You will feel confident in your abilities and powerful enough to achieve what you want. A plan also makes you feel more passionate.</p>
            </div>
        </div>
        <div class="ca">
            <div class="im">
                <h1 class="q">How planning your day reduces stress</h1>
            </div>
            <div class="con">
                <p>Planning can take as little as 5 to 10 minutes out of your day, but can make the entire day much less stressful and more productive. If your employees jump from task to task with no definite plan or goal in mind, they can quickly get overburdened and overly stressed.
                </p>
            </div>
        </div>
        <div class="ca">
            <div class="im">
                <h1 class="q">How to do I need to be motivated?</h1>
            </div>
            <div class="con">
                <p>Set yourself one specific, achievable goal.
                    Think about how to include that goal in your life, what you need do to make it happen, and then put a timeframe on it (such as a week).
                    Break your goal into small, easy tasks and set regular reminders.
                    Use your family and friends as support – tell them about your goals and encourage them to help keep you motivated.</p>
            </div>
        </div>
    </div>
</div>




  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="/text/profile.js"></script>

 
 
   

     

</body>
</html>
