<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/plan.css" type="text/css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kalam&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css%22%3E" >

    <script src="https://code.jquery.com/jquery-3.5.1.js%22%3E"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />  
    <script>
        $(document).ready(function(){
         $('#icon').click(function(){
             $('ul').toggleClass('show');
         });
        });
    </script>
    <title>CalmPlan</title>

</head>


<body class="light">
    <script src="https://unpkg.com/aos@next/dist/aos.js" ></script> <!----->
    <script>
      AOS.init({
          offset: 200,
          duration: 1000
      });
    </script>

<header>
    <p class="title" data-aos= "fade-up" >CALMPLAN</p>
    <div class="container" data-aos= "fade-up">
        <nav>
            <ul>
                <li><a href= "/">HOME</a></li>
                <li><a href="plan.html">PLAN</a></li>
                <li><a href="#">EXERSICE</a></li>
                <li><a href="#">SCHOOL</a></li>
                <li><a href="#">ABOUT US</a></li>
            </ul>
            
  <label id="icon">
      <i class="fas fa-bars"></i>
  </label>
       </nav>
  </div>
</header>

<div class="wlc" data-speed="0.3">
<span class="text1">Plan</span>
<span class="text2"> D R E A M.</span>
<span class="text2"> P L A N.</span>
<span class="text2"> D O.</span>
</div>

<form class="button" action="/logout?_method=DELETE" method="POST">
    <button data-aos= "fade-up"  type="submit"> Log Out</button>
</form>
<div class="calendar">
    <div class="calendar-header">
        <span class="month-picker" id="month-picker">February</span>
        <div class="year-picker">
            <span class="year-change" id="prev-year">
                <pre><</pre>
            </span>
            <span id="year">2021</span>
            <span class="year-change" id="next-year">
                <pre>></pre>
            </span>
        </div>
    </div>
    <div class="calendar-body">
        <div class="calendar-week-day">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
        </div>
        <div class="calendar-days"></div>
    </div>
    <div class="calendar-footer">
        <div class="toggle">
            <span>Dark Mode</span>
            <div class="dark-mode-switch">
                <div class="dark-mode-switch-ident"></div>
            </div>
        </div>
    </div>
    <div class="month-list"></div>
</div>

<div class="con">
    <p class="date">Date</p>
    <input class = "storage" type="text">
    <p class="text">text</p>
    <button class ="button2">Save</button>
</div>


<main id="app" class="app">
    <h3 class="plan">{{title}}</h3>
    <form @submit.prevent= "addTodo">
        <label for="newTodo" class="newtodo">New List</label>
        <input v-model="newTodo"  name="newTodo" id="newTodo" value="" class="todo" placeholder="What's your plan today">
        <button type="submit" name="button" class="button3">Add</button>
    </form>
    <button @click="allDone" type="button" name="button" class="button4">Mark All Done</button>
    <ul class="check">
        <li v-for="todo in todos">
            <input type="checkbox" v-model="todo.done">
          <span :class="{ done: todo.done }">{{todo.title}}</span> 
          <button @click="removeTodo(todo)" type="button" name="button" class="button5">Remove</button>
         </li>
    </ul>
</main>
   



<div class="quotes">u got this</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="/text/list.js"></script>
<script src="/text/app.js"></script>
<script src="/text/text.js"></script>


</body>

</html>
